@media (max-width: 600px) {
  .btn {
    font-size: 18px;
    padding: 8px 15px;
  }

  /******* HOME SECTION *******/
  #home .navigation {
    width: auto;
    text-align: center;
  }
  
  #home .navigation nav {
    display: none;
  }

  #home .navigation #logo {
    margin: 0 auto;
    float: none;
    height: 40%;
    width: 40%;
  }

  #home .cta {
    margin-top: 20px;
  }

  /******* ABOUT SECTION *******/
  section#about .large-container {
    margin: 10px auto;
  }

  img.about-img {
    display: none
  }

  section#about .large-container p {
    width: 80%;
    margin: 0 0 0 6.5%;
    font-size: 24px;
    line-height: 1.3;
    display: block;
  }

  section#about h1 {
    margin-bottom: 20px;
  }
}

@media (max-width: 720px) {
  /******* HOME SECTION *******/
  #home .navigation nav a {
    margin-left: 20px;
  }
}

@media (max-width: 1020px) {
  /******* ABOUT SECTION *******/
  section#about .large-container {
    text-align: center;
    margin-top: 40px;
    padding-bottom: 40px;
  }

  section#about .large-container img.about-img {
    diplay: block;
    height: 300px;
    width: 300px;
    margin-bottom: 20px;
  }

  section#about .large-container p {
    width: 80%;
    margin: 0 auto;
    font-size: 24px;
    line-height: 1.3;
    display: block;
    text-align: center;
  }
}

@media (max-width: 960px) {
  /******* PRODUCT SECTION *******/
  section#products .products .product {
    width: 33.3%;
  }
}

@media (max-width: 730px) {
  /******* PRODUCT SECTION *******/
  section#products .products .product {
    width: 50%;
  }

  section#products .products-cta p {
    font-size: 22px;
  }
}

@media (max-width: 480px) {
  /******* PRODUCT SECTION *******/
  section#products .products .product {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 1215px) {
  section#contact footer .row .footer-text {
    margin-right: 30%;
  }
}

@media (max-width: 990px) {
  section#contact footer .row .footer-text {
    margin-right: 20%;
  }
}

@media (max-width: 866px) {
  section#contact footer .row .footer-text {
    margin-right: 10%;
  }
}

/*@media (max-width: 770px) {
  section#contact footer .row .footer-text {
    display: none;
  }
}*/



