doctype html
html(lang="en")
	head
		title Delta Fowl
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(charset="utf-8")

		script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
		script(src="js/main.js")

		link(href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css')
		link(rel="stylesheet" href="css/main.css")
		link(rel="stylesheet" href="css/media-queries.css")

	body

		include ./includes/home.jade

		include ./includes/products.jade

		include ./includes/about.jade

		include ./includes/contact.jade