section#about
	h1 About Us
	.large-container
		img.about-img(src="img/squad.jpg" alt="Delta Fowl Products")
		p Delta Fowl offers top quality waterfowl hunting products for reasonable prices. We are located in the prime duck hunting area of North America, the Mississippi Delta. Each of our product designs is field tested before it is put into production. As waterfowl hunters we know that our gear must be extremely durable to withstand the various harsh climates and daily wear and tear. Each of our products are sure to impress. 
