section#contact
  
  h1 Contact

  form(action="//formspree.io/deltaducks01@gmail.com" method="POST")
    input(type="text" name="name" placeholder="Name")
    input(type="email" name="_replyto" placeholder="Email")
    textarea(name="message" placeholder="Message")
    input.btn(type="submit" value="Send Message")

  footer
    ul
      li
        a(href="https://instagram.com/deltafowl/" target="_blank") Instagram
      li 
        a(href="https://www.facebook.com/DeltaFowl" target="_blank") Facebook
      li.etsy
        a(href="https://www.etsy.com/shop/DeltaFowlInc" target="_blank") Etsy
      li Phone: (662) 347-3113
      li &copy; Delta Fowl, Inc. All Rights Reserved.
      li Designed &amp; Developed By <a href="https://twitter.com/grant_s_burke" target="_blank">Grant Burke</a>
        