section#home
	//- img#logo
	.navigation
		img#logo(src="img/logo.png" alt="Delta Fowl")

		nav
			a.smoothScroll(href="#products") Products
			a.smoothScroll(href="#about") About Us
			a.smoothScroll(href="#contact") Contact
	
	.cta
		h1 The Best Duck Calls in the Delta
		h2 Get Yours Today
		a(href="https://www.etsy.com/shop/DeltaFowlInc" target="_blank").btn Shop Now