mixin product(src, name, price)
  .product
    img(src=src alt=name)
    h3= name 
    .price= price

section#products
  h1 Products
  
  .products
    +product('img/semi-cutdown.jpg', 'Semi-Cutdown', '$59.99')
    +product('img/crown-jewel.jpg', 'Crown Jewel', '$59.99')
    +product('img/srt.jpg', 'SRT', '$59.99')
    +product('img/wood-duck-calls.jpg', 'Wood-Duck Calls', '$9.99')

    .clearfix

  .products-cta 
    p Want one of these calls for yourself? Click <a href="https://www.etsy.com/shop/DeltaFowlInc" target="_blank">here</a> or call (662) 347-3113!
