mixin product(src, name, price)
  .product
    img(src=src alt=name)
    h3= name 
    .price= price

section#products
  h1 Products
  
  .products
    +product('img/acrylic-ow-single-reed.jpg', 'Acrylic O/W Single Reed Call', '$79.99')
    +product('img/chief-lanyard.jpg', 'Chief Lanyard', '$34.99')
    +product('img/sweet-suzie-duck-call.jpg', '"Sweet Suzie" Duck Call', '$69.99')
    +product('img/straight-barrel.jpg', 'Straigt Barrel Timber Call', '$69.99')
    +product('img/hybrid-call.jpg', 'Hybrid Call', '$49.99')
    +product('img/git-a-gobbler.jpg', '"Git-a-Gobbler" Call', '$6.99')
    +product('img/goose-call.jpg', 'Goose Call', '$69.99')
    +product('img/wood-duck-call.jpg', 'Wood Duck Call', '$9.99')

    .clearfix

  .products-cta 
    p Want one of these calls for yourself? Click <a href="https://www.etsy.com/shop/DeltaFowlInc" target="_blank">here</a> or call (662) 347-3113!